# Ignore virtual environment
venv/

# Ignore compiled files
*.pyc
__pycache__/

# Ignore environment variables
.env

Kolectorkey.pem

staticfiles/
media/


terraform.tfstate
terraform.tfstate.backup
.terraform/
terraform-django/
credentials/

*.pyo
*.pyd
.Python
build/
.git/
*.log
